In [2]:
# instalamos pandas
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
     ---------------------------------------- 11.6/11.6 MB 1.8 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     -------------------------------------- 508.0/508.0 kB 1.3 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     -------------------------------------- 346.6/346.6 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22.4 in c:\users\rocpa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rocpa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rocpa\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Importamos pandas y la base de datos
import pandas as pd
df = pd.read_csv('../data/Barcelona_Fotocasa_HousingPrices.csv')

In [11]:
# Revisamos primeras filas para ver si se ha importado el dataframe correctamente
df.head()

,Unnamed: 0,price,rooms,bathroom,lift,terrace,square_meters,real_state,neighborhood,square_meters_price
0,0,750,3,1,True,False,60,flat,Horta- Guinardo,12.500000
1,1,770,2,1,True,False,59,flat,Sant Andreu,13.050847
2,2,1300,1,1,True,True,30,flat,Gràcia,43.333333
3,3,2800,1,1,True,True,70,flat,Ciutat Vella,40.000000
4,4,720,2,1,True,False,44,flat,Sant Andreu,16.363636

In [12]:
df.describe()

,Unnamed: 0,price,rooms,bathroom,square_meters,square_meters_price
count,8188.000000,8188.000000,8188.000000,8188.000000,8188.000000,8188.000000
mean,4093.500000,1444.092574,2.420738,1.508793,84.610161,17.739121
std,2363.816335,1125.886215,1.138592,0.732798,47.874028,9.245241
min,0.000000,320.000000,0.000000,1.000000,10.000000,4.910714
25%,2046.750000,875.000000,2.000000,1.000000,56.000000,12.790698
50%,4093.500000,1100.000000,2.000000,1.000000,73.000000,15.306122
75%,6140.250000,1540.000000,3.000000,2.000000,95.000000,19.444444
max,8187.000000,15000.000000,10.000000,8.000000,679.000000,186.666667